.center {
    text-align: center !important;
    color: white !important;
}

nav.navbar.bg-light {
    background-color: #D9D9D9 !important;
    font-family: 'Quicksand', sans-serif;
}

.rectangle {
    width: 15em;
    height: 15em;
    background-color: #e7e7e7;
}

.top {
    margin-top: 2em;
}


.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green{
    background-color: green;
}

.circle {
    margin-top: 2em !important;
    width: 12em;
    height: 12em;
    border-radius: 100%;
    margin-left: 1em;
    transform: translate(0, 1.5em);
}

.shadow-pop-tr {
	-webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  
  .container-fluid {
    justify-content: center !important;
    display: flex !important;
  }

.row>* {
    padding-left: calc(var(--bs-gutter-x) * 2);
}

.titel {
    font-family: 'Quicksand', sans-serif;
    font-size: 1200%;   
    text-align: center;
}



.db {
    background-color: darkblue;
}

.lb {
    background-color: lightblue;
}

.purple {
    background-color: purple;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-1 10:34:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

  .rec {
    width: 35%;
    height: 180%;
    background-color: red;
    margin-top: 20%;
    margin-left: 50%;
    transform: translate(-50%, 0);
    animation-name: colorchanger;
    animation-duration: 10s;
  }

  nav.navbar.bg-light.red {
    background-color: red !important;
    font-family: 'Quicksand', sans-serif;
}

nav.navbar.bg-light.yellow {
    background-color: yellow !important;
    font-family: 'Quicksand', sans-serif;
}


nav.navbar.bg-light.green {
    background-color: green !important;
    font-family: 'Quicksand', sans-serif;
}

nav.navbar.bg-light.db {
    background-color: darkblue !important;
    font-family: 'Quicksand', sans-serif;
}

nav.navbar.bg-light.lb {
    background-color: lightblue !important;
    font-family: 'Quicksand', sans-serif;
}

nav.navbar.bg-light.purple {
    background-color: purple !important;
    font-family: 'Quicksand', sans-serif;
}


@keyframes colorchanger {
    0% {background-color: red; }
    25% {background-color: green; }
    50% {background-color: blue; }
    100% {background-color: yellow; }
}

.recl {
    width: 20%;
    height: 95%;
    background-color: yellow;
    margin-top: 20%;
    margin-left: 43%;
    transform: translate(-50%, 0);
    animation-name: walker;
    animation-duration: 5s;
    position: relative;
  }

  @keyframes walker {
    0%   {background-color:yellow; left:0px; top:0px;}
    25%  {background-color:red; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:yellow; left:0px; top:0px;}
  }

  
  
  .Aanimation {
    color: white;
    font-size: 5000%;
    margin-left: 50%;
    transform: translate(-50%);
}


/* ----------------------------------------------
 * Generated by Animista on 2023-11-1 10:57:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
 @-webkit-keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
  }
  @keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
  }


.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 4s linear both;
	        animation: text-flicker-in-glow 4s linear both;
}
  

.navbar-brand {
    z-index: 1000;
}

.word {
    margin-top: 10%;
    font-size: 200%;
}

.wordtitel {
    margin-top: 10%;
    margin-bottom: -5%;
}

.grey {
    margin-top: 5%;
    background-color: #EDEDED;
    border-radius: 20pt;
}

.white {
    color: black;
    font-size: 600%;
}

.paragraph {   
    font-family: 'Source Code Pro', monospace;
}


.rec2 {
    width: 20%;
    height: 12%;
    background-color: yellow;
    margin-top: 20%;
    margin-left: 43%;
    transform: translate(-50%, 0);
    position: relative;
    animation: walker 5s infinite;
  }


  .help {
    margin-top: 5%;
    font-size: 700%;
  }

  .helpbuttonsw {
    position: absolute;
    width: 20em;
    height: 20em;
    background-color: #D9D9D9;
    background-image: url(w3schools.png);
    background-size: contain;
    transition: transform .5s;
  }


  .helpbuttonsa {
    position: absolute;
    width: 20em;
    height: 20em;
    background-color: #D9D9D9;
    background-image: url(animista.png);
    background-size: contain;
    transition: transform .5s;
  }

  .helpbuttonsm {
    position: absolute;
    width: 20em;
    height: 20em;
    background-color: #D9D9D9;
    background-image: url(mozilla.webp);
    background-size: contain;
    transition: transform .5s;
  }


  .helpbuttonsw:hover {
    transform: scale(1.25);
  }


  .helpbuttonsa:hover {
    transform: scale(1.25);
  }

  .helpbuttonsm:hover {
    transform: scale(1.25);
  }


@media only screen and (max-width: 820px){
    .recl {
      width: 20%;
      height: 95%;
      background-color: yellow;
      margin-top: 20%;
      margin-left: 10%;
      animation: walker 5s infinite;
    }

    .titel {
        font-size: 300%;
        margin-left: -20px;
    }
    .rec {
      width: 35%;
      height: 180%;
      background-color: red;
      margin-top: 20%;
      margin-left: 42%;
      transform: translate(-50%, 0);
      animation: colorchanger 10s infinite;
    }
    .Aanimation {
      margin-top: 50%;
      font-size: 1000%;
      color: white;
    }
    .word {
      font-size: 100%;
      width: 90%;
    }
    .white {
      font-size: 200%;
      margin-left: -35%;
      color: black;
    }
    .paragraph {
      font-size: 60%;
      margin-left: -35%;
      width: 500%;
    }
    .rec2 {
      margin-left: -45%;
      margin-top: 30%;
      height: 2em;
      width: 2em;
    }
    @keyframes walker {
    0%   {background-color:yellow; left:0px; top:0px;}
    25%  {background-color:red; left:100px; top:0px;}
    50%  {background-color:blue; left:100px; top:100px;}
    75%  {background-color:green; left:0px; top:100px;}
    100% {background-color:yellow; left:0px; top:0px;}
    }

    .help {
      margin-top: 20%;
      margin-left: -5%;
    }

    .helpbuttonsw {
      position: relative;
      width: 15em;
      height: 15em;
      background-color: #D9D9D9;
      background-image: url(w3schools.png);
      background-size: contain;
      margin-bottom: 2em;
    }
  
  
    .helpbuttonsa {
      position: relative;
      width: 15em;
      height: 15em;
      background-color: #D9D9D9;
      background-image: url(animista.png);
      background-size: contain;
      margin-bottom: 2em;
    }
  
    .helpbuttonsm {
      position: relative;
      width: 15em;
      height: 15em;
      background-color: #D9D9D9;
      background-image: url(mozilla.webp);
      background-size: contain;
      margin-bottom: 2em;
    }
  
  
    .helpbuttonsw:hover {
      transform: scale(1);
    }
  
  
    .helpbuttonsa:hover {
      transform: scale(1);
    }
  
    .helpbuttonsm:hover {
      transform: scale(1);
    }

    html,body{
      overflow-x: hidden;
      overflow-y: auto;
    }

}